/* improve colour contrast for orange CTAs */
html body .ctabutton {
    color: #000077 !important;
}

/* increase font size */
html body {
    font-size: 18px;
}
html body #normaltext,
html body .normaltext {
    font-size: 18px;
}
html body .menulink {
    font-size: 16px;
}
html body table td {
    font-size: 1rem;
}

/* allow scrolling to the end */
html body #containerwithmenu,
html body #containertransparentglobal,
html body #containertransparent,
html body #containerintransparent,
html body #Gesamtmenu,
html body #OverlayMainboxID {
    padding-bottom: 150px;
}
html body #untenseiteHTML {
    max-height: none !important;
}

/* fix horizontal widths */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    html body .overlayInhaltUeb,
    html body .overlayBox7 {
        width: auto;
    }
}

/* Google Translate links */
html body .gt-link {
    display: inline-block;
    color: #1967d2 !important;
    background: #4285f41f;
    border: 1px solid #1967d2;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 4px 0 2px;
}
html body .verbzelletd {
    vertical-align: baseline;
    text-align: right;
}

/* input field added to daily "blitz" vocab trainer for optional writing exercise */
html body input.writing-exercise {
    /* if I get the form with button to work, these rules can be removed */
    border-radius: 5px !important;
    float: none !important;
}
html body input.writing-exercise.correct {
    background: #b9f3aa;
}

/* position the input field in the daily "blitz" vocab trainer better, so that the keyboard doesn't hide it */
@media (max-height: 450px) and (min-width: 868px) {
    html body #containervok {
        margin: 10px 0 0 0 !important;
    }
    html body .DivAutopilotZusatzicons {
        height: auto;
        min-height: auto;
    }
}
