/* improve colour contrast for orange CTAs */
html body a.ctabutton {
    color: #000077 !important;
}

/* increase font size */
html body {
    font-size: 18px;
}
html body #normaltext, html body .normaltext,
html body .menulink {
    font-size: 18px;
}
html body table td {
    font-size: 1rem;
}

/* allow scrolling to the end */
html body #containerwithmenu,
html body #containertransparentglobal,
html body #containertransparent,
html body #containerintransparent {
    padding-bottom: 150px;
}

/* Google Translate links */
html body .gt-link {
    background: lightseagreen;
    border: 1px solid darkblue;
    padding: 0 4px;
    border-radius: 8px;
    margin-left: 8px;
}
